
<div id="sidebar">		
			
	<ul id="mainNav">			
		<li id="navDashboard" class="nav active">
			<span class="icon-home"></span>
			<%= link_to 'Dashboard', panel_root_path %>
		</li>

		<li id="navTables" class="nav">
			<span class="icon-list"></span>
			<%= link_to 'User Accounts', nil %>
		</li>
		
		<li id="navTables" class="nav">
			<span class="icon-list"></span>
			<%= link_to "Teacher's Schedule", nil %>
		</li>

		<li id="navTables" class="nav">
			<span class="icon-info"></span>
			<%= link_to 'Substitution Record' %>
		</li>
	</ul>
	
</div> <!-- #sidebar -->