<div id="content">			
	<div id="contentHeader">
		<h1>DashBoard</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
		 	You have <%= @remind_counts %>  Plan Substitution Request for tomorrow!!
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
			
<!-- refresh plugin search -->
<script type="text/javascript" src="/assets/jquerysearch.js"></script>

