<div class="widget-header">
	<span class="icon-list"></span>
	<h3 class="icon chart">Absent Teacher</h3>		
</div>
<%= text_field_tag :demo %>
	
<script type="text/javascript">
		
	var teacherSource = <%= raw Teacher.all.map { |p| { id: p.id, name:  p.fullname }}.to_json %>	
		
	 $(document).ready(function() {
		
        $("#demo").tokenInput(teacherSource, 
						{ theme: 'facebook', 
							tokenLimit: 1,
							onAdd: function(item){
								alert('hello' + item.name)
							}
						});
						
    });

	
	
</script>
