	<div class="widget-header">
			<span class="icon-list"></span>
			<h3 class="icon chart">Absent Teacher</h3>		
		</div>
	
<div id="tab-1" class="widget-content">
	
	<div class="field">
			<label for="absnetteacher">Select Teacher :</label>
			<%= text_field :absentteacher, placeholder: 'Please Search an absent teacher', size: 50 %>
	</div>
	<div>
		<ul class="tabs right">	
			<li class="">
				<a href="#tab-2">
					<button class="btn btn-primary btn-blue">Next</button>
				</a>
			</li>	
		</ul>	
	</div>
</div>


