			<div class="field-group inlineField " style="float:left;">	
				<div class="field">
					<label for="full_name">Request Type:</label>
					<select>
						<option>Planned</option>
						<option>Unplanned</option>
					</select>
				</div>

				<div class="field">
					<label for="status">Date Substitute :</label>
					<!--THIS MUST BE AN AUTO STATUS == SUBSTITUTE -->
					
					<input value="Current Date"/>
				</div>
				<br/>

				<div class="field">
					<label for="usertype">Reason :</label>
					<select>
						<option>Reason</option>
						<option>Reason</option>
						<option>Reason</option>
					</select>
				</div>

				<div class="field">
					<label for="Notes">Note</label>
					<textarea  ></textarea>
				</div>


			</div>
			<div class="field-group inlineField secondcolumn" style="">	
				

				<div class="field">
					<label for="status">Status :</label>
					<!--THIS MUST BE AN AUTO STATUS == SUBSTITUTE -->
					<input value="Substitute">
				</div>

				<div class="field">
					<label for="status">Assign By :</label>
					<!--THIS MUST BE AN AUTO ASSIGN == USER LOGIn -->
					<input value="Log IN user">
				</div>


			</div>