<!-- text input for teacher selection  -->
<legend>Teacher Requesting Schedule Substitution</legend>
<%= text_field_tag :teacher, class: 'large' %>
<br />
<legend>Selected Teacher Subjects</legend>
<!-- load up selected teacher subject here -->
<table id="teacher-sujects-table" class="table table-bordered table-striped data-table">
	<thead>
		<tr>
			<th width="50%">Subject</th>
			<th>Start - End Time</th>
			<th>DayCode</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>	


<!--  modal modal -->

<div class="modal" id="continue-assignment-alert" tabindex="-1" role="dialog" style="display:none"
	aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Do you really want to continue the assignment?</h3>
  </div>
  <div class="modal-body">
		<h1 id='assign-teacher' class="well"></h1>
    <h2 id='assign-subject'></h2>
		<h3 id='assign-subject-time-daycode'></h3>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary">Continue</button>
  </div>
</div>

<%= link_to  'alert-assignment', '#continue-assignment-alert', id: 'continue-assignment-btn',
										data: { role: 'button', toggle: 'modal' }, class: 'btn' %>

<script type="text/javascript">
		
	var teacherSource = <%= raw Teacher.all.map { |p| { id: p.id, name:  p.fullname }}.to_json %>	
		
	 $(document).ready(function() {
		
	     $("#teacher").tokenInput(teacherSource, 
				{ theme: 'facebook', 
					tokenLimit: 1,
					onAdd: function(item){
						// put value to assign-teacher and assing-subject
						$('#assign-teacher').html(item.name);
						
						// load up selected teacher subject
						$.ajax({
						  url: "<%= load_teacher_subject_substitutes_path %>",
							data: { teacher_id: item.id },
						  context: document.body
						}).done(function() { 
						  $(this).addClass("done");
						});
					},
					onDelete: function(){
						// remove subject if selected teacher was removed
						$('#teacher-sujects-table tbody').html(""); // set blank if techer was remove
					}
				});
				
				// listen to each subject when click
				$('.assign-subject-btn').live('click', function(){

					_parent = $(this).parent().parent();
					
					$('#assign-subject').html(_parent.data('subject-name'));
					$('#assign-subject-time-daycode').html(_parent.data('subject-time-daycode'));
					
					subject_id = _parent.data('subject-id');
					
					$('#continue-assignment-btn').click();
				})
				
    });
	
</script>
