<div >
	<div class="widget widget-table">
		<div class="widget-header">
			<span class="icon-list"></span>
			<h3 class="icon chart">Absent Subject</h3>		
		</div>
	
		<!-- <table class="table table-bordered table-striped data-table">
			<thead>
				<tr>
					<th>Subject Code</th>
					<th>Subject Name</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
		 -->
		
		
	</div>
</div>