<div class="widget-header">
	<span class="icon-list"></span>
	<h3 class="icon chart">Absent Teacher</h3>		
</div>
	
<div id="tab-1" class="widget-content">
		<%= select_tag :requester, 
					options_from_collection_for_select(Teacher.all, :id, :fullname), prompt: 'Search for a teacher',
					style: 'height: 200px; width: 90%' %>
			

	<div>
		<ul class="tabs right">	
			<li class="">
				<a href="#tab-2">
					<button class="btn btn-primary btn-blue">Next</button>
				</a>
			</li>	
		</ul>	
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		
		 $('#requester').chosen();
			
		// $('#requester').on('change', function(){
		// 		
		// 		var teacherID = $(this).val();
		// 		
		// 		console.log(teacherID);
		// 	
		// })
		
		
	})
	
	
</script>
