<!-- text input for teacher selection  -->
<legend>Teacher Requesting Schedule Substitution</legend>
<%= text_field_tag :teacher, class: 'large' %>
<br />
<legend>Selected Teacher Subjects</legend>
<!-- load up selected teacher subject here -->
<table id="teacher-sujects-table" class="table table-bordered table-striped data-table">
	<thead>
		<tr>
			<th width="50%">Subject</th>
			<th>Start - End Time</th>
			<th>DayCode</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>	

<script type="text/javascript">
		
	var teacherSource = <%= raw Teacher.all.map { |p| { id: p.id, name:  p.fullname }}.to_json %>	
		
	 $(document).ready(function() {
		
        $("#teacher").tokenInput(teacherSource, 
						{ theme: 'facebook', 
							tokenLimit: 1,
							onAdd: function(item){
								// load up selected teacher
								$.ajax({
								  url: "<%= load_teacher_subject_substitutes_path %>",
									data: { teacher_id: item.id },
								  context: document.body
								}).done(function() { 
								  $(this).addClass("done");
								});
							},
							onDelete: function(){
								$('#teacher-sujects-table tbody').html(""); // set blank if techer was remove
							}
						});
						
    });
	
</script>
