<!-- text input for teacher selection  -->
<legend>Teacher Requesting Schedule Substitution</legend>
<%= text_field_tag :teacher, class: 'large' %>
<br />
<legend>Selected Teacher Subjects</legend>
<!-- load up selected teacher subject here -->
<div class="search">
	Search: <input type="text" id="kwd_search" value=""/> 
</div>
<table id="teacher-sujects-table" class="table table-bordered table-striped data-table">
	<thead>
		<tr>
			<th width="50%">Subject</th>
			<th>Start - End Time</th>
			<th>DayCode</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>	



<script type="text/javascript">
		
	var teacherSource = <%= raw Teacher.all.map { |p| { id: p.id, name:  p.fullname }}.to_json %>	
		
	 $(document).ready(function() {
		
        $("#teacher").tokenInput(teacherSource, 
						{ theme: 'facebook', 
							tokenLimit: 1,
							onAdd: function(item){
								// load up selected teacher
								$.ajax({
								  url: "<%= load_teacher_subject_substitutes_path %>",
									data: { teacher_id: item.id },
								  context: document.body
								}).done(function() { 
								  $(this).addClass("done");
								});
							},
							onDelete: function(){
								$('#teacher-sujects-table tbody').html(""); // set blank if techer was remove
							}
						});
						
    });
	
</script>

<!-- refresh plugin search -->

<script type="text/javascript">
// When document is ready: this gets fired before body onload :)
$(document).ready(function(){
	// Write on keyup event of keyword input element
	$("#kwd_search").keyup(function(){
		// When value of the input is not blank
		if( $(this).val() != "")
		{
			// Show only matching TR, hide rest of them
			$("#teacher-sujects-table tbody>tr").hide();
			$("#teacher-sujects-table td:contains-ci('" + $(this).val() + "')").parent("tr").show();
		}
		else
		{
			// When there is no input or clean again, show everything back
			$("#teacher-sujects-table tbody>tr").show();
		}
	});
});
// jQuery expression for case-insensitive filter
$.extend($.expr[":"], 
{
    "contains-ci": function(elem, i, match, array) 
	{
		return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
	}
});

</script>



