<div >
	
	<button id="btn-step2-confirm" style="display: none" 
				class="btn btn-large btn-block btn-success" type="button">Confirm And Continue</button>
					

	<legend>Requester</legend>

	<div class="well">
		<h1 class='assign-teacher' style="font-size:25px;font-style:normal">No Data</h1>
    <h2 class='assign-subject'></h2>
		<h3 class='assign-subject-time-daycode'></h3>
	</div>
	
	<hr />

	<legend>Substitute By:</legend>

	
	<br />
	<div>
		<%= text_field_tag :sub_teacher, class: 'large' %>
	</div>
	
	<br />
	<div class="well">
		<h1 class='sub-teacher' style="font-size:25px;font-style:normal">No Data</h1>
	</div>
	
	<div class="widget widget-table">
		<div class="widget-header">
			
			<h3 class="icon chart">Substitute Teacher Schedule</h3>		
		</div>
	
		<table id="sub-teacher-subjects-table" class="table table-bordered table-striped data-table">
			<thead>
				<tr>
					<th>Subject</th>
					<th>DayCode - Time</th>
				</tr>
			</thead>
			<tbody></tbody>
	</table>
		
	</div>
</div>

<br /><br /><br /><br />
<div class="form-actions" id="final-confirmation-btn">
  <button type="button" class="btn" onclick="window.location = '/substitutes'">Cancel</button>
</div>


