<div id="login_panel">

	<div class="notify notify-error">
		<a class="close" href="javascript:;">×</a>
		<p></p>			
	</div>
	
	<div class="login_fields">
		<div class="field">
			<label for="username">Username</label>
			<input type="text"  name="username" value="" id="username" tabindex="1" placeholder="username" />		
		
		</div>
		 
		<div class="field">
			<label for="password">Password <small></small></label>
			<input type="password" name="password" value="" id="password" tabindex="2" placeholder="password" />			
		</div>
	</div> <!-- .login_fields -->
	
	<div class="login_actions">
		<button type="submit" class="btn btn-primary" tabindex="3">Login</button>
	</div>
</div> <!-- #login_panel -->