<div class="field-group inlineField " style="float:left;">	
	<div class="field">

		<label for="name">Subject Type :</label>
		<%= f.text_field :name, size: 24, placehold: 'subject Type' %>
	</div>
	<br/>
</div>
