<tr>
	<td><%= subject_type.name %></td>
	<td>
		<%= link_to edit_subject_type_path(subject_type) do %>
			<button class="btn btn-primary btn-blue">
				Edit
			</button>
		<% end %>
		<div class="delete">
		<%= button_to "delete", subject_type_path(subject_type), :method=>:delete, :class=>"btn btn-primary btn-blue" %>
		</div>
	</td>	
</tr>