<tr>
	<td><%= subject_type.name %></td>
	<td>
		<%= link_to edit_subject_type_path(subject_type) do %>
			<button class="btn btn-small btn-quaternary">
				<span class="icon-pen"></span>
				Edit
			</button>
		<% end %>
		
		<%= button_to "delete", subject_type_path(subject_type), :method=>:delete, :class=>"btn btn-small btn-quaternary" %>

	</td>	
</tr>