<div id="content">			
	<div id="contentHeader">
		<h1>Confirm Request</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<div class="widget widget-table">
				<div class="widget-header">
					<h3 class="icon chart"><TABLE></TABLE>Request  Information</h3>		
				</div>
				<div class="widget-content">
					<table class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Date Request</th>
								<th>Absent Teacher</th>
								<th>Substitutute Teacher</th>
								<th>Subject Code</th>
								<th>Subject Name</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th>Schedule</th>
								<th class="vouchoptions">Options</th>
							</tr>
						</thead>
				        <tbody>
							<tr>
								<th>8/5/12</th>
								<th>Abayon, Mark Jil C.</th>
								<th>Edwin, Salanatin C.</th>
								<th>IT302</th>
								<th>Software Engineering II: Systems Development & Integration</th>
								<th>8:00am</th>
								<th>11:00am</th>
								<th>TTH</th>
								<th>
									<button class="btn btn-primary btn-blue">
										Show
									</button>
									
								</th>
							</tr> 
				        </tbody>
			         </table>
				</div> <!-- .widget-content -->
			   </div> <!-- .widget -->
			</div> <!-- .widget-content -->
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
			
