<tr>
	<td><%= generate_report[:name] %></td>
	<td></td>
	<td></td>
	<td></td>
</tr>
<% generate_report[:approved_substitutes].each do |substitute| %>
	<tr>
		<td></td>
		<td><%= substitute[:created_at]	 %></td>
		<td><%= substitute[:subject_time] %></td>
		<td><%= substitute[:total_hours] %></td>
	</tr>
<% end %>