<div id="content">			
	<div id="contentHeader">
		<h1>Generate Reports</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="notify notify-error">
							<a class="close" href="javascript:;">×</a>
							<%= notice %>
				</div>
			<% end %>
			
		    <div class="input-append bootstrap-timepicker-component">
			    <input type="text" class="timepicker-default input-small">
				    <span class="add-on">
				    <i class="icon-time"></i>
			    </span>

		    </div>
			
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			

<script>
	$('.timepicker-default').timepicker();
</script>