<div id="content">			
	<div id="contentHeader">
		<h1>Generate Reports</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="notify notify-error">
							<a class="close" href="javascript:;">×</a>
							<%= notice %>
				</div>
			<% end %>
			<div class="field-group inlineField">								
				<label for="datepicker">Date Picker:</label>
				<div class="field">
					<input type="text" name="datepicker" id="datepicker" />				
				</div> <!-- .field -->								
			</div> <!-- .field-group -->
			<div class="field-group inlineField">
				<label for="timepicker">Time Picker:</label>
				<div class="field">
					<input type="text" name="timepicker" id="timepicker" />	
				</div> <!-- .field -->	
			</div>
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
