<div id="content">			
	<div id="contentHeader">
		<h1>Generate Reports</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="notify notify-error">
							<a class="close" href="javascript:;">×</a>
							<%= notice %>
				</div>
			<% end %>
			
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
