<div id="content">			
	<div id="contentHeader">
		<h1>Teachers Schedule</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="notify notify-error">
							<a class="close" href="javascript:;">×</a>
							<%= notice %>
				</div>
			<% end %>
			<form class="form uniformForm">					
				<div class="widget">
					<div class="widget-content">
							<div class="field-group inlineField">	
								<label for="myfile">File Input:</label>

								<div class="field">
									<input type="file" name="myfile" id="myfile" />
								</div>	
							</div>
					</div> <!-- .widget-content -->

				</div> <!-- .widget -->
			</form>

			<div class="widget widget-table">
					<div class="widget-header">
						<span class="icon-list"></span>
						<h3 class="icon chart">Preview</h3>		
					</div>
					<div class="widget-content">
						<table class="table table-bordered table-striped data-table">
							<thead>
								<tr>
									<th>Teacher</th>
									<th>Subject Code</th>
									<th>Subject Name</th>
									<th>Room #</th>
									<th>Section</th>
									<th>Type</th>
									<th>Start Time</th>
									<th>End Time</th>
									<th>Schedule</th>
								</tr>
							</thead>
					        <tbody>
							<tr>
								<th>Abayon, Mark Jil C.</th>
								<th>IT302</th>
								<th>Software Engineering II: Systems Development & Integration</th>
								<th>AniLab</th>
								<th>CI601-C</th>
								<th>LAB</th>
								<th>8:00am</th>
								<th>11:00am</th>
								<th>TTH</th>
							</tr>

							<tr>
								<th>Abayon, Mark Jil C.</th>
								<th>IT302</th>
								<th>Software Engineering II: Systems Development & Integration</th>
								<th>C-803</th>
								<th>CI601-C</th>
								<th>LEC</th>
								<th>7:00am</th>
								<th>8:00am</th>
								<th>MWF</th>
							</tr>
															
					        </tbody>
				         </table>
					</div> <!-- .widget-content -->
					
			   </div> <!-- .widget -->
					<button class="btn btn-primary btn-blue">Save</button>
			</div>
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
