<div id="content">			
	<div id="contentHeader">
		<h1>Create Teacher Schedule</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<%= form_for @teacherschedule, url: teacher_schedules_path,  method: :post do |f| %>
				<% if @teacherschedule.errors.present? %>
					<div class="notify notify-error">
						<a class="close" href="javascript:;">×</a>
						<% for msg in @teacherschedule.errors.full_messages %>
		          <%= content_tag :div, msg %>
		        <% end %>
					</div>
				<% end %>
				
				<div class="form uniformForm">					
					<div class="widget">
						<div class="widget-header">
							<span class="icon-user"></span>
							<h3>Teacher Schedule Information</h3>
						</div>
						<div class="widget-content">
							<%= render 'form', f: f %>
						</div> <!-- .widget-content -->
					</div> <!-- .widget -->
					<button class="btn btn-primary btn-blue">Save</button>
						<%= link_to 'Cancel', teacher_schedules_path, class: 'btn btn-primary btn-blue'  %>
				</div>
				
			<% end %>
		</div>
	</div> <!-- .grid -->			
</div>
			
			
