 <div id="content">			
	<div id="contentHeader">
		<h1>Create User</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			
			<%= form_for @user, method: :post do |f| %>
			
				<% if @user.errors.present? %>
					<div class="notify notify-error">
						<a class="close" href="javascript:;">×</a>
						
						<% for msg in @user.errors.full_messages %>
		          <%= content_tag :div, msg %>
		        <% end %>
							
					</div>
				<% end %>
				
				<div class="form uniformForm">					
					<div class="widget">
						<div class="widget-header">
							<h3>User Information</h3>
						</div>
						<div class="widget-content">
							<%= render 'form', f: f %>
						</div> <!-- .widget-content -->
					</div> <!-- .widget -->
					
				</div>
				<div class="fmenu">
					<br style="clear:both;">
						
						<%= link_to 'Cancel', users_path, class: 'btn btn-primary btn-blue'  %>
						<button class="btn btn-primary btn-blue">Save</button>
				</div>
				
			<% end %>
		</div>
	</div> <!-- .grid -->			
</div>
			
			
