<ul class='nav pull-right'>
	<li><a href="#" rel='tooltip' title='8 Projects Remaining'><span class="badge badge-nav">8</span></a></li>
	
	<li><a href="#" rel='tooltip' title='2 Tasks are Urgent'><span class="badge badge-nav">2 Urgent</span></a></li>

	<li><a href="/logout" rel='tooltip' title='Logout'><i class="icon-white icon-off"></i></span></i></a></li>
</ul>