<tr>
	<td><%= department.name %></td>
	<td>
		<%= link_to edit_department_path(department) do %>
			<button class="btn btn-primary btn-blue">
				
				Edit
			</button>
		<% end %>
		<div class="delete">
		<%= button_to "delete", department_path(department), :method=>:delete, :class=>"btn btn-primary btn-blue" %>
		</div>
	</td>	
</tr>