<tr>
	<td><%= department.name %></td>
	<td>
		<%= link_to edit_department_path(department) do %>
			<button class="btn btn-small btn-quaternary">
				<span class="icon-pen"></span>
				Edit
			</button>
		<% end %>
		
		<%= button_to "delete", department_path(department), :method=>:delete, :class=>"btn btn-small btn-quaternary" %>
	</td>	
</tr>