<div id="content">			
	<div id="contentHeader">
		<h1>Departments</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="notify notify-error">
							<a class="close" href="javascript:;">×</a>
							<%= notice %>
				</div>
			<% end %>
			<div class="adduser">
				<%= link_to new_department_path do %>
					<button class="btn btn-primary btn-blue">
						Add Department
					</button>
				<% end %>
				
			</div>

			<div class="widget widget-table">
				<div class="widget-header">
					<h3 class="icon chart">Department Information</h3>		
				</div>
				
				<div class="widget-content">
					<table class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Department</th>
								<th>Action</th> 
							</tr>
						</thead>
				   		 <tbody>
						<%= render partial: 'department', collection: @departments, as: :department %>
				    	</tbody>
         			</table>
				</div> <!-- .widget-content -->
				<?php endif;?>
			   </div> <!-- .widget -->
			</div> <!-- .widget-content -->
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
