<div id="content">			
	<div id="contentHeader">
		<h1>Reasons Information</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="notify notify-error">
							<a class="close" href="javascript:;">×</a>
							<%= notice %>
				</div>
			<% end %>

			<div class="adduser">
				<%= link_to new_reason_path do %>
					<button class="btn btn-primary btn-blue">Add Reasons
					</button>
				<% end %>
				
			</div>

			<div class="widget widget-table">
				<div class="widget-header">
					<h3 class="icon chart">Reasons Lists</h3>		
				</div>
				
				<div class="widget-content">
					<div class="search">
						Search: <input type="text" id="kwd_search" value=""/> 
					</div>
					<table  id="my-table" class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Reasons</th>
								<th>Action</th> 
							</tr>
						</thead>
				   		 <tbody>
								<%= render partial: 'reasons', collection: @reasons, as: :reason %>
				    	</tbody>
         			</table>
         			<%= paginate @reasons %>
				</div> <!-- .widget-content -->
			   </div> <!-- .widget -->
			</div> <!-- .widget-content -->
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
<!-- refresh plugin search -->
<script type="text/javascript" src="/assets/jquerysearch.js"></script>

