<tr>
	<td><%= section.name %></td>
	<td>
		<%= link_to edit_section_path(section) do %>
			<button class="btn btn-primary btn-blue">
				Edit
			</button>
		<% end %>
		<div class="delete">
		<%= button_to "delete", section_path(section), :method=>:delete, :class=>"btn btn-primary btn-blue" %>
		</div>
	</td>	
</tr>