<ul  class='nav pull-right'>
	<li ><a  href="#" rel='tooltip' title='<%= @count_vouch_requests %> Vouch Request'><span  class="badge badge-nav"><%= @count_vouch_requests %> Pending Vouch </span></a></li>

	<li><a href="/logout" rel='tooltip' title='Logout'><i class="icon-white icon-off"></i></span></i></a></li>
</ul>