			<div class="field-group inlineField " style="float:left;">	
				<div class="field">
					<label for="fullname">Full Name :</label>
					<input id="fullname" class="" type="text" size="24" name="fullname">
				</div>
				<br/>

				<div class="field">
					<label for="username">Username :</label>
					<input id="username" class="" type="text" size="24" name="username">
				</div>
				<br/>

				<div class="field">
					<label for="password">Password :</label>
					<input id="aname" class="" type="password" size="24" name="password">
				</div>
				<br/>
			</div>
			<div class="field-group inlineField secondcolumn" style="">	
				<div class="field">
					<label for="department">Department :</label>
					<select name="department " id="department">
								<option>--</option>
								<option>CCS </option>
							</select>
				</div>

				<div class="field">
					<label for="usertype">User Type :</label>
					<select name="usertype " id="usertype">
							<option>--</option>
								<option>Department Head</option>
								<option>Checker</option>
							</select>
				</div>

				<div class="field">
					<label for="status">Status :</label>
					<select name="status " id="status">
							<option>--</option>
								<option>Active</option>
								<option>Inactive</option>
							</select>
				</div>

			</div>