<div id="content">			
	<div id="contentHeader">
		<h1>Import Teachers Schedule</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<form class="form uniformForm">					
				<div class="widget">
					<div class="widget-content">
							<div class="field-group inlineField">	
								<label for="myfile">File Input:</label>

								<div class="field">
									<input type="file" name="myfile" id="myfile" />
								</div>	
							</div>
					</div> <!-- .widget-content -->

				</div> <!-- .widget -->
			</form>
			<button class="btn btn-primary btn-blue">Import</button>
			</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
