<div id="content">			
	<div id="contentHeader">
		<h1>Import Teachers Schedule</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="alert alert-success">
							<a class="close" href="javascript:;">×</a>
							<%= notice %>
				</div>
			<% end %>
			<%= form_for @schedule_file, url: import_schedules_path, 
							method: :post, :html => {:multipart => true} do |f| %>
				<div class="widget">
					<div class="widget-content">
							<div class="field-group inlineField">	
								<label for="myfile">File Input:</label>
								<div class="field">
									<%= f.file_field :excel_file %>
								</div>	
							</div>
					</div> <!-- .widget-content -->

				</div> <!-- .widget -->
				<%= submit_tag 'Import', class: 'btn btn-primary btn-blue' %>
			<% end %>
			</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
