<div class="field-group inlineField " style="float:left;">	
	<div class="field">
		<%= f.label :code %>
		<%= f.text_field :code, size: 24, placehold: 'Subject Code ' %>
	</div>
	<br/>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name, size: 24, placehold: 'Description' %>
	</div>
	<br/>

</div>
