<tr>
	<td><%= subject.code %></td>
	<td><%= subject.name %></td>
	<td>
		<%= link_to edit_subject_path(subject) do %>
			<button class="btn btn-small btn-quaternary">
				<span class="icon-pen"></span>
				Edit
			</button>
		<% end %>
	<%= button_to "delete", subject_path(subject), :method=>:delete, :class=>"btn btn-small btn-quaternary" %>
	</td>	
</tr>