<div id="content">			
	<div id="contentHeader">
		<h1>Subject information</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="notify notify-error">
							<a class="close" href="javascript:;">×</a>
							<%= notice %>
				</div>
			<% end %>
			<div class="adduser">
				<%= link_to new_subject_path do %>
					<button class="btn btn-primary btn-blue">Add New Subject
					</button>
				<% end %>
				
			</div>

			<div class="widget widget-table">
				<div class="widget-header">
					<h3 class="icon chart">Subjects List</h3>		
				</div>
				
				<div class="widget-content">
					<table class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Subject Code</th>
								<th>Descrition</th>
								<th>Action</th> 
							</tr>
						</thead>
				   		 <tbody>
							<%= render partial: 'subject', collection: @subjects, as: :subject %>
				    	</tbody>
         			</table>
				</div> <!-- .widget-content -->
				<?php endif;?>
			   </div> <!-- .widget -->
			</div> <!-- .widget-content -->
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
