	<div class="form uniformForm">					
		<div class="widget">
			<div class="widget-header">
				<span class="icon-user"></span>
				<h3>Request Informations</h3>
			</div>
			<div class="widget-content">
				<div class="field-group inlineField " style="float:left;">	
					<div class="field">
						

							<label for="requsttype">Request type:</label>
								<%= f.label :Requesttype %>Request type :
							    <br><%= f.radio_button_tag 'requsttype', 'Unplanned', true %> Unplanned
							    <br><%= f.radio_button_tag 'requsttype', 'Planned' %> Planned
					</div>
					<br/>
					<div class="field">
						<label for="dateabsent">Date Absent  :</label>
						<input id="dateabsent" class="" type="text" size="24" name="dateabsent" value="8/13/12">
					</div>
					<br/>

					<div class="field">
						<label for="fullname">Absent Name :</label>
						<input id="fullname" class="" type="text" size="24" name="fullname">
					</div>
					<br/>

					<div class="field">
						<label for="password">Absent Subject :</label>
						<select id="cardtype" name="cardtype" style="opacity: 0;">
								<option>ICN23 Room 305	IT703 1:00 2:00 TTH</option>
								<option>ICN22 Room 305	IT703 3:00 4:00 TTH</option>
						</select>
					</div>
						
				
				</div>
				<div class="field-group inlineField inlineField2">	
					<div class="field">
						<label for="username">Reason :</label>
						<select id="cardtype" name="cardtype" style="opacity: 0;">
							<option>A Sick Day </option>
							<option>Personal Day</option>
							<option>Attending School Activity</option>

						</select>
					</div>
					<br/>
					<div class="field">
						<label for="fullname">Notes :</label>
						<textarea id="message" name="message" rows="4" cols="22"></textarea>
						</div>
					<br/>
				</div>

			</div> <!-- .widget-content -->
			<div class="widget widget-table">
				<div class="widget-header">
					<span class="icon-list"></span>
					<h3 class="icon chart">Available Teacher</h3>		
				</div>
				<div class="widget-content">
					<table class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Last Name</th>
								<th>First Name</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th>Schedule</th>
								<th>Options</th>
							</tr>
						</thead>
				        <tbody>
						<tr>
							<th>Barsalote </th>
							<th>john</th>
							<th>1:00</th>
							<th>5:00</th>
							<th>MWF</th>
							<th>
								<button class="btn btn-small btn-quaternary">
									<span class="icon-user"></span>
									Assign
								</button>
							</th>
						</tr>
						
				        </tbody>
			         </table>
				</div> <!-- .widget-content -->
			
		  	 </div> <!-- .widget -->
				
		</div>
	</div>