<div id="content">			
	<div id="contentHeader">
		<h1>Teachers Lists</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">

			<div class="adduser">
				<%= link_to new_teacher_path do %>
					<button class="btn btn-primary btn-blue">
						<span class="icon-user"></span>Add New teacher
					</button>
				<% end %>
				
			</div>

			<div class="widget widget-table">
				<div class="widget-header">
					<span class="icon-list"></span>
					<h3 class="icon chart">Teachers Information</h3>		
				</div>
				
				<div class="widget-content">
					<table class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Firstname</th>
								<th>Lastname</th>
								<th>Phone Number</th>
								<th>Action</th> 
							</tr>
						</thead>
				   		 <tbody>
							<%= render partial: 'teacher', collection: @teachers, as: :teacher %>
				    	</tbody>
         			</table>
				</div> <!-- .widget-content -->
				<?php endif;?>
			   </div> <!-- .widget -->
			</div> <!-- .widget-content -->
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
