<tr>
	<td><%= daycode.name %></td>
	<td>
		<%= link_to edit_daycode_path(daycode) do %>
			<button class="btn btn-primary btn-blue">Edit</button>
		<% end %>
		
		<div class="delete">
			<%= button_to "delete", daycode_path(daycode), :method=>:delete, :class=>"btn btn-primary btn-blue" %>
		</div>
	</td>	
</tr>