<div id="content">			
	<div id="contentHeader">
		<h1>Edit Day Types</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			
			<%= form_for @daycode, url: daycode_path(@daycode),  :method => :put do |f| %>
				
				<% if @daycode.errors.present? %>
					<div class="alert alert-error">
						<a class="close" href="javascript:;">×</a>
						<% for msg in @daycode.errors.full_messages %>
		          <%= content_tag :div, msg %>
		        <% end %>
					</div>
				<% end %>
				
				<div class="form uniformForm">					
					<div class="widget">
						<div class="widget-header">
							<span class="icon-user"></span>
							<h3>Day Type Information</h3>
						</div>
						<div class="widget-content">
							<%= render 'form', f: f %>
						</div> <!-- .widget-content -->
					</div> <!-- .widget -->
						
				</div>

				<div class="fmenu">
					<br style="clear:both;">
						
						<%= link_to 'Cancel', daycodes_path, class: 'btn btn-primary btn-blue'  %>
						<button class="btn btn-primary btn-blue">Save</button>
				</div>
				
			<% end %>
		</div>
	</div> <!-- .grid -->			
</div>
			
			
