<div class="field-group inlineField " style="float:left;">	
	<div class="field">
		<label for="name">Room Number :</label>
		<%= f.text_field :name, size: 24, placehold: 'Room Number' %>
	</div>
	<br/>
</div>
