.holderfiller  { background: url('/assets/filler.png') repeat-x 0 0; 
				font: 12px/1.7em arial, sans-serif;
				padding-top: 50px; 
				 min-height: 960px;
				}

body
{
	background: url('/assets/fillerY.jpg') repeat 0 0;
	font: 12px/1.7em arial, sans-serif; 

	margin-top:0;}

#login { width: 95.1%;    }

#login h1
{
	background: url('/assets/logo.png') no-repeat 0 0;
	height: 307px;
    width: 465px;
	line-height: 800px;
	overflow: hidden;
	margin: 0 auto .75em;	
}
.holder
{
	margin:0 auto;
	width: 900px;

}
#login_panel
{
	background: #FFF;
	width: 100%;
	border: 1px solid #CCC;
	overflow: hidden;
	  margin-top: 37px;
    width: 317px;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.6);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.6);
	box-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

#login_panel .login_fields { padding: 22px 15px 15px; }
	#login_panel .login_fields input { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#login_panel .field { margin-bottom: 1.75em; }
	#login_panel .field:last-child { margin-bottom: .85em; }
	
	#login_panel .field label { font-weight: bold; color: #555; display: block; position: relative; } 	
		#login_panel .field label small { position: absolute; right: 0; top: -2px; }
			#login_panel .field label small a { color: #999; }

#login .login_actions { background: #E8E8E8; width: auto; padding: 12px 15px; border-top: 1px dotted #CCC; }

@media (max-width: 480px) {#login {
		width: 90%; 
		margin-left: -45%;
	}
}