<tr >
	<td><%= detail.substitute_teacher.fullname %></td>
	<td></td>
	<td><%= detail.teacher_subject.subject.code %></td>
	<td><%= detail.teacher_subject.room.name %></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>