<tr>
	<th>8/12/12</th>
	<th><%= vouch_request.teacher_subject.teacher.fullname %></th>
	<th><%= vouch_request.substitute_teacher.fullname %></th>
	<th><%= vouch_request.teacher_subject.subject.name %></th>
	<th><%= vouch_request.teacher_subject.subject.code %></th>
	<th><%#= vouch_request.teacher_subject_id %></th>
	<th>CI601-C</th>
	<th>LAB</th>
	<th>8:00am</th>
	<th>11:00am</th>
	<th>MWF</th>
	<th>
		<button class="btn btn-primary btn-blue">
			Confirm
		</button>
	</th>
</tr>	