	<!-- <th>Teacher</th>
	<th>Subject</th>
	<th>Options</th> -->
<tr>
	<td><%= available.teacher.fullname %></td>
	<td><%= available.subject.name %></td>
	<td><%= available.start_end_time_daycode %></td>
	<td></td>
</tr>