<div class="widget widget-tabs">
	
	<div class="widget">		
		<%= render 'substitutes/form/step1' %>
	</div> <!-- .widget-content -->

	<div id="tab-2" class="widget-content">
		<%= render 'substitutes/form/step2' %>
		<br/>
	</div> <!-- .widget-content -->

  <div id="tab-3" class="widget-content">
		<%= render 'substitutes/form/step3' %>
  </div>

	<div id="tab-4" class="widget-content">
		<%= render 'substitutes/form/step4' %>
	</div> <!-- .widget-content -->
	
</div>