<tr>
	<td><%= subject.subject.name  %></td>
	<td><%= subject.time_start.strftime('%l:%M %p') %> / <%= subject.time_end.strftime('%l:%M %p') %></td>
	<td><%= subject.day_code.name %></td>
	<th>
		<button class="btn btn-primary btn-blue">
			Select
		</button>
	</th>
</tr>