<%= content_tag :tr, id: teacher, data: { id: teacher.id, name: teacher.fullname } do %>
	<th><%= teacher.lastname %></th>
	<th><%= teacher.firstname %></th>
	<th>
		<button class="btn btn-primary btn-blue">
			Select
		</button>
	</th>
<% end %>

