<script type="text/javascript" charset="utf-8">
	var teacherSource = <%= raw Teacher.all.map { |p| { id: p.id, name:  p.fullname }}.to_json %>	
</script>

 <div id="content">			
	<div id="contentHeader">
		<h1>Request Substitutions</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
						
			<% if @substitute.errors.present? %>
				<div class="alert alert-error">
					<a class="close" href="javascript:;">×</a>
					<% for msg in @substitute.errors.full_messages %>
			          <%= content_tag :div, msg %>
			        <% end %>
				</div>
			<% end %>
				
			<div class="form uniformForm">					
				<div class="widget">
						<%= render partial: 'form' %>
				</div> <!-- .widget -->
			</div>

		</div>
	</div> <!-- .grid -->			

</div>

<script type="text/javascript" charset="utf-8">
	
	$("#absent_teacher").tokenInput(teacherSource, 
		{ theme: 'facebook', 
			tokenLimit: 1,
			onAdd: function(item){
				// put value to assign-teacher and assing-subject
				$('.assign-teacher').html(item.name);
				teacher_id = item.id;
				
				// load up selected teacher subject
				$.ajax({
				  url: "<%= load_teacher_subject_substitutes_path %>",
					data: { teacher_id: item.id }
				}).done(function() { 
				  $(this).addClass("done");
				});
				
			},
			onDelete: function(){
				// remove subject if selected teacher was removed
				$('#teacher-subjects-table tbody').html(""); // set blank if techer was remove
			}
		});
	
	
</script>