<script type="text/javascript" charset="utf-8">
	var teacherSource = <%= raw Teacher.all.map { |p| { id: p.id, name:  p.fullname }}.to_json %>	
</script>

 <div id="content">			
	<div id="contentHeader">
		<h1>Request Substitutions</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
						
			<% if @substitute.errors.present? %>
				<div class="alert alert-error">
					<a class="close" href="javascript:;">×</a>
					<% for msg in @substitute.errors.full_messages %>
			          <%= content_tag :div, msg %>
			        <% end %>
				</div>
			<% end %>
				
			<div class="form uniformForm">					
				<div class="widget">
						<%= render 'form' %>
				</div> <!-- .widget -->
			</div>

		</div>
	</div> <!-- .grid -->			

</div>